<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <button mat-raised-button class="btn btn-primary" (click)="openDialogPersonaEmpresa()">Agregar registro</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <mat-tab-group animationDuration="1000ms">
                    <mat-tab label="Listado de persona natural">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">Simple Table</h4>
                                <p class="card-category"> Here is a subtitle for this table</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Código
                                            </th>
                                            <th>
                                                Activo
                                            </th>
                                            <th>
                                                Precio
                                            </th>
                                            <th>
                                                Fecha de adquisición
                                            </th>
                                            <th>
                                                Tipo de adquisición
                                            </th>
                                            <th>
                                                Vida util
                                            </th>
                                            <th>
                                                Acciones
                                            </th>
                                        </thead>
                                        <tbody>
                                           <tr>
                                               
                                           </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Listado de persona juridica">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">Simple Table</h4>
                                <p class="card-category"> Here is a subtitle for this table</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Código
                                            </th>
                                            <th>
                                                Activo
                                            </th>
                                            <th>
                                                Precio
                                            </th>
                                            <th>
                                                Fecha de adquisición
                                            </th>
                                            <th>
                                                Tipo de adquisición
                                            </th>
                                            <th>
                                                Vida util
                                            </th>
                                            <th>
                                                Acciones
                                            </th>
                                        </thead>
                                        <tbody>
                                           <tr>
                                               
                                           </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                  </mat-tab-group>
   
            </div>
        </div>
    </div>
  </div>
  