<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <button mat-raised-button class="btn btn-primary" (click)="openDialogPoliticas()">Agregar registro</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <center><h4 class="card-title">Detalles listados</h4></center>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Fecha de inicio
                                    </th>
                                    <th>
                                        Fecha de finalización
                                    </th>
                                    <th>
                                        Tipo de Crédito
                                    </th>
                                    <th>
                                        Tasa de Interés (%)
                                    </th>
                                    <th>
                                        Días de cobro
                                    </th>
                                    <th>
                                        Tasa de mora (%)
                                    </th>
                                    <th>
                                        Días antes de mora
                                    </th>
                                    <th>
                                        Días de incobrable
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </thead>
                                <tbody>
                                   <tr>
                                       
                                   </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  