<form>
  <div mat-dialog-content>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <center>
                  <h2 class="card-title">Registro </h2>
                </center>
              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="legacy">
                      <mat-label>Fecha de inicio</mat-label>
                      <input matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field appearance="legacy">
                      <mat-label>Fecha de finalización</mat-label>
                      <input matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field appearance="legacy">
                        <mat-label>Tipo de crédito</mat-label>
                        <mat-select>
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tasa de interés">
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Días de cobro">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tasa de mora">
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Dás antes de mora">
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Días para ser incobrable">
                      </mat-form-field>
                    </div>
                  </div>          
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div mat-dialog-actions class="align-content-end">
      <button mat-raised-button class="btn btn-danger" (click)="onCancelar()">Cancelar</button>
      <button mat-raised-button class="btn btn-primary" type="submit" [mat-dialog-close]="true">Guardar</button>
    </div>
</form>