<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <button mat-raised-button class="btn btn-primary" (click)="openDialogEmpresa()">Agregar Empresa</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group (selectedTabChange)="LE($event)">
                    <mat-tab label="Lista de empresas">
                        <div class="row" *ngIf="!cargando1 && listaEmpresa.length > 0">
                            <div class="col-md-12">
                                <div class="card" >
                                    <div class="card-header card-header-danger" style="text-align: center;">
                                        <h4 class="card-title ">Detalles listados</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        NIT
                                                    </th>
                                                    <th>
                                                        Nombre de Empresa
                                                    </th>
                                                    <th>
                                                        Representante
                                                    </th>
                                                    <th>
                                                        Acciones
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let pn of listaEmpresa | paginate: { itemsPerPage: 5, currentPage: page1 }">
                                                        <td>
                                                            {{pn.nit | nit}}
                                                        </td>
                                                        <td>
                                                            {{pn.nombre}}
                                                        </td>
                                                        <td>
                                                            {{pn.representante}}
                                                        </td>
                                                        <td>
                                                            <button mat-icon-button type="button" (click)="openDialogEmpresa(pn)" color="info">
                                                                <mat-icon>edit</mat-icon>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <pagination-controls (pageChange)="page1 = $event" previousLabel="Atras" nextLabel="Sig."></pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                
                                <div class="text-center" *ngIf="!cargando1 && listaEmpresa.length === 0">
                                    <mat-card class="alert alert-warning">
                                        No hay datos!
                                        <mat-card-content>
                                            <mat-icon>warning</mat-icon>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                
                                <div class="text-center" *ngIf="cargando1">
                                    <mat-card class="alert alert-danger">
                                        Cargando...
                                        <mat-card-content>
                                            <mat-icon class="fa-spin" >autorenew</mat-icon>
                                        </mat-card-content>
                                        Por favor espere!
                                    </mat-card>
                                </div>
                
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Créditos en curso">
                        <div class="row" *ngIf="!cargando && listaClientes.length > 0">
                            <div class="col-md-12">
                                <div class="card" >
                                    <div class="card-header card-header-danger" style="text-align: center;">
                                        <h4 class="card-title ">Detalles listados</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        DUI
                                                    </th>
                                                    <th>
                                                        Nombres
                                                    </th>
                                                    <th>
                                                        Acciones
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let pn of listaClientes | paginate: { itemsPerPage: 5, currentPage: page1 }">
                                                        <td>
                                                            {{pn.dui | dui}}
                                                        </td>
                                                        <td>
                                                            {{pn.nombres}} {{pn.apellidos}}
                                                        </td>
                                                        <td>
                                                            <button mat-icon-button type="button" (click)="openDialogEmpresa(pn)" color="info">
                                                                <mat-icon>edit</mat-icon>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <pagination-controls (pageChange)="page1 = $event" previousLabel="Atras" nextLabel="Sig."></pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                
                                <div class="text-center" *ngIf="!cargando && listaClientes.length === 0">
                                    <mat-card class="alert alert-warning">
                                        No hay datos!
                                        <mat-card-content>
                                            <mat-icon>warning</mat-icon>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                
                                <div class="text-center" *ngIf="cargando">
                                    <mat-card class="alert alert-danger">
                                        Cargando...
                                        <mat-card-content>
                                            <mat-icon class="fa-spin" >autorenew</mat-icon>
                                        </mat-card-content>
                                        Por favor espere!
                                    </mat-card>
                                </div>
                
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Créditos en mora">
                        
                    </mat-tab>
                    <mat-tab label="Créditos incobrables">
                        
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>