<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <form [formGroup]="forma" (ngSubmit)="guardar()">
          <mat-vertical-stepper [linear]="false" #stepper>

            <mat-step label="pa1" state="p1">
              <ng-template matStepLabel> Consulta de Crédito</ng-template>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field appearance="standard">
                        <mat-label>Tipo de crédito</mat-label>
                        <mat-select required>
                          <mat-option value="HIPOTECARIO">Hipotecario</mat-option>
                          <mat-option value="HIPOTECARIO">Consumo</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <input matInput placeholder="Monto solicitado" type="number" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field appearance="standard">
                        <mat-label>Tiempo</mat-label>
                        <input matInput placeholder="Tiempo en meses">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field appearance="standard">
                        <mat-label>Fecha de solicitud</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <input matInput placeholder="Cuota Mensual">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <input matInput placeholder="Intereses">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <input matInput placeholder="Capital">
                      </mat-form-field>
                    </div>

                    <div class="col-md-2" style="margin-top: 12px;">
                      <button mat-raised-button type="button" color="primary">Proyección <mat-icon>trending_up</mat-icon></button>
                    </div>
                  </div>
                </div>
                <div>
                </div>
              </div>
              <div>
                <button mat-stroked-button color="primary" type="button" matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step label="pa2" state="p2">
              <div class="card">
                <div class="card-body">
                  <ng-template matStepLabel>Solicitud de Crédito</ng-template>
                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Buscar empresa por NIT</mat-label>
                        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>FACELA S.A de C.V</mat-label>
                        <input matInput type="text">
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Hipotecario</mat-label>
                        <input matInput type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-2" style="margin-top: 12px;">
                      <button mat-raised-button type="button" color="primary">Razones Financieras <mat-icon>local_atm</mat-icon>
                        </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Monto solicitado</mat-label>
                        <input matInput placeholder="$10,000">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Cuota Mensual</mat-label>
                        <input matInput placeholder="$ 150">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Número de cuotas</mat-label>
                        <input matInput placeholder="36">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Tiempo</mat-label>
                        <input matInput placeholder="3 Años">
                      </mat-form-field>
                    </div>
                  </div>

                </div>
              </div>
              <div>
                <button mat-stroked-button color="primary" type="button" class="mr-1" matStepperPrevious>Atrás</button>
                <button mat-stroked-button color="primary" type="button" matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step label="pa3" state="p3">
              <div class="card">
                <div class="card-body">
                  <ng-template matStepLabel>Datos de Garantía</ng-template> 
                  <div>
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field appearance="standard">
                          <mat-label>Tipo de bien</mat-label>
                          <mat-select required>
                            <mat-option value="HIPOTECARIO">Terreno</mat-option>
                            <mat-option value="HIPOTECARIO">Mobiliario</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width" appearance="standard">
                          <mat-label>valorado en ($)</mat-label>
                          <input matInput type="number" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="fill">
                          <mat-label>Descripción</mat-label>
                          <textarea matInput></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" style="margin-top: 12px;">
                      <button mat-stroked-button color="primary" type="button" class="mr-1" matStepperPrevious>Atrás</button>
                      <button mat-stroked-button color="primary" type="button" (click)="stepper.reset()">Cancelar</button>
                    </div>
                    <div class="col-md-2" style="margin-top: 12px; margin-left: 250px;">
                      <button mat-raised-button color="warn" type="submit" icon="save">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </form>
      </div>
    </div>
  </div>
</div>