<div style="background-color: white;height: 100vh;width:100vw;">
    <div class="main-content ml-5 mr-5 pt-5">
        <div class="container-fluid">
            <br><br>
            <div class="row">
                <div class="col-md-12" style="text-align: right;">
                    <h3 style="font-weight: bold;">Fecha de impresión: {{fecha}}</h3>
                </div>
            </div>
            <br>
    
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info" style="text-align: center;">
                            <h1 class="card-title">Razones Financieras</h1>
                            <h3 class="card-category">Reporte</h3>
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>