<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" style="text-align: center;">
                        <h4 class="card-title">[Tipo Activo] cantidad total:[total]</h4>
                    </div>
                    <div class="card-body">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Total de [Sillas]: [total]
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>