<body class="fondo">
    <div class="oscuro">
        <div class="inicio"> 
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <h1 style="color: rgb(65, 218, 45); text-decoration: underline; font-weight: bold; font-size: 50px;">
                            BIENVENIDO</h1>
                        </div>
                    </div>          
            <div class="row pt-5">
                <h2 style="font-size: 150%; font-family: cursive; background-color: rgba(15, 36, 221, 0.356); color: lavender; text-align: center;">
                    Sistema Informático para el control de activo fijo
                    y cuentas por cobrar de una institución financiera
                    desarrollado en la cátedra de Análisis Financieros
                    impartida por el docente Lic. Msc. José Oscar Peraza
                </h2>
            </div>
        </div>
    </div>
</body>