<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <button mat-raised-button class="btn btn-primary" (click)="openDialogActivoFijo()">Agregar registro</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Precio
                                    </th>
                                    <th>
                                        Fecha de adquisicion
                                    </th>
                                    <th>
                                        tipo de adquisicion
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of activos">
                                        <td>
                                            {{a.nombre}}
                                        </td>
                                        <td>
                                            {{a.precioAdquisicion}}
                                        </td>
                                        <td>
                                            {{a.fechaAdquisicion | date:'dd-MM-yyyy' }}
                                        </td>
                                        <td class="text-primary">
                                            {{a.tipoAdquisicion}}
                                        </td>
                                        <td>
                                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                                <mat-icon>remove_red_eye</mat-icon>
                                              </button>
                                            <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                                                <mat-icon>plus_one</mat-icon>
                                              </button>
                                              <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                                <mat-icon>filter_list</mat-icon>
                                              </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  