<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <button mat-raised-button class="btn btn-primary" (click)="openDialogActivoFijo()">Agregar registro</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Código
                                    </th>
                                    <th>
                                        Activo
                                    </th>
                                    <th>
                                        Precio
                                    </th>
                                    <th>
                                        Fecha de adquisición
                                    </th>
                                    <th>
                                        Tipo de adquisición
                                    </th>
                                    <th>
                                        Vida util
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of activos">
                                        <td>
                                            {{a.departamento.unidad.codigo + "-" + a.departamento.codigo + "-" + a.tipoActivo.codigo + "-" + a.correlativo}}
                                        </td>
                                        <td>
                                            {{a.nombre}}
                                        </td>
                                        <td>
                                            {{a.precioAdquisicion}}
                                        </td>
                                        <td>
                                            {{a.fechaAdquisicion | date:'dd-MM-yyyy' }}
                                        </td>
                                        <td>
                                            {{a.tipoAdquisicion}}
                                        </td>
                                        <td>
                                            <div *ngIf="a.tipoActivo.nombre == 'TERRENO'">
                                                N/A
                                            </div>
                                            <div *ngIf="a.tipoActivo.nombre != 'TERRENO'">
                                                {{a.vidaUtil}}
                                            </div>
                                        </td>
                                        <td>
                                            <button mat-icon-button color="primary">
                                                <mat-icon>remove_red_eye</mat-icon>
                                              </button>
                                              <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                                <mat-icon>home</mat-icon>
                                              </button>
                                              <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                                                <mat-icon>menu</mat-icon>
                                              </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  